//sm and up

body {
  background: url("../images/bg-home3.jpg") no-repeat $color-bg-darkblue;
  background-size: 100% auto;
  background-attachment: fixed;
}

.main-content--fullwidth {
  &__content {
      width: 640px;
  }
}
