/* HELPERS  */

.screen-reader-text {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

.mt1 {
  margin-top: $spacing;
}

.mb1 {
  margin-bottom: $spacing;
}

.mt2 {
  margin-top: $spacing * 2;
}

.mb2 {
  margin-bottom: $spacing * 2;
}

.tac {
  text-align: center;
}

@include responsive-helper(".w1\\/5", (s,m,l)) { width: 20%; };
@include responsive-helper(".w1\\/2", (s,m)) { width: 50%; };
