.hero {
  color: $color-bg;
  background-color: $color-red;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  color: #fff;
  height: 400px;
  &__box {
    background-color: #fff;
    border-radius: 6px;
    color: $color-bg;
    padding: $spacing;
    height: 300px;
    text-align: center;
    svg {
      width: 100px;
      height: 100px;
    }
  }
}
