/* LAYOUT  */

body {
    font-weight: 400;
    @if ($nav-bar-fixed) {
        padding-top: $nav-bar-height;
    }
    overflow-x: hidden;
    background: url("../images/bg-home3_mobile.jpg") no-repeat $color-bg-darkblue;
    //background: url("../images/bg-home2.jpg") no-repeat left top/cover;
    background-size: 100% auto;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    //box-sizing: content-box; Why?
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
p,
ul,
ol,
small {
    margin-top: $line-height;
    margin-bottom: $line-height;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.box {
    padding: $line-height;
}

.flex {
    display: flex;

    &--wrap {
        flex-wrap: wrap;
    }

    &--between {
        justify-content: space-between;
    }

    &--middle {
        align-items: center;
    }
}

.title-column {
    margin-bottom: $line-height;
    text-align: center;
}
// This is used to prevent changes in page height when the images load.
// Use style="padding-bottom: xx%" on element
.image {
    position: relative;

    display: block;
    height: 0;

    & > img {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;
    }
}

// GENERAL STYLES

.page {
    //background-color: $color-bg;
    flex: 1;
}

.hero {
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    background: transparent;
}

// HOME STYLES

.page-home {
    .hero {
        animation: fadein 3s;
    }
    animation: animatedBackground 3s;
    background-position: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes animatedBackground {
	from { background-size: 110% auto; }
	to { background-size: 100% auto; }
}

.companies {
    background-color: #fff;
    margin-bottom: 80px;
    #slider1_container {
        margin: 0 auto;
        background-color: #fff;
        img {
            width: auto !important;
            height: auto !important;
            position: relative !important;
            max-width: 90%;
            max-height: 90%;
        }
    }
    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// BASIC PAGE STYLES

.template-page, .template-page-with-sections, .template-page-signup {
    .main-content--fullwidth {
        padding-top: $line-height * 3;
        &--white {
            background-color: #fff;
        }
    }
}

// COMPANIES PAGE

.template-page-companies {
    .main-content__content {
        //display: flex;
        text-align: center;
    }
}

.company-wrap {
    width: 160px;
    height: 120px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 20px;
    position: relative;
    span {
        transition: all .2s ease-out;
        opacity: 0;
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
    }
    &:hover {
        span {
            opacity: 1;
            bottom: -10px;
            color: #000;
        }
    }
}

// SPEAKERS

.page-puhujat, .section-images {
    .col-base-12 {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
    }
}
.speaker-wrapper {
    transition: all .2s ease-out;
    height: 400px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: $line-height / 2;
    padding-top: 240px;
    position: relative;
    div {
        position: absolute;
        bottom: 0px;
    }
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.2rem;
    }
    &:hover {
        background-color: rgba(0,0,0,0.5);
    }
}

// SECTION STYLES
.section-style-1 {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
}
.section-style-2 {
    background: #222;
    color: #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.section-style-3 {
    background: url('../images/debut_light_@2X.png');
    background-size: 200px 200px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.section-style-4 {
    background: url('../images/footer_lodyas.png');
    background-size: 600px 600px;
    color: #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.section-style-5 {
    background: transparent;
    color: #fff;
}


// SPECIAL SECTION STYLE FOR NUMBERS

.section--numbers {
    h2, p {
        text-align: center;
    }
    h2 {
        font-size: 6rem;
        font-weight: bold;
    }
    p {
        margin-bottom: $line-height;
    }
}

// FORM STYLES

#FormBuilder_contact-forum {
  padding-bottom: 65px;
  margin-bottom: -5px; // Extra 5px for the shadow of the buttons
  box-sizing: content-box;
  overflow: hidden;

  transition: height 0.25s;

  & > .Inputfields {
    display: flex;
    align-items: flex-start;

    transition: transform 0.5s 0.25s;

    & > .InputfieldFieldset {
      flex-shrink: 0;
      width: 100%;
      margin-right: 20px;
    }
  }

  // A bit hacky, but it works!
  .InputfieldSubmit {
    align-self: flex-end;
    transform: translateX(calc(-100% - 20px)) translateY(20px);
  }

  #summary-container {
    margin-top: 15px;
    overflow: auto;
  }

  table {
    width: 100%;
    white-space: nowrap;

    td {
      padding: 5px 10px;

      box-shadow: 0 1px 0 rgba(#000, 0.05);

      &:first-child:not([colspan]) {
        width: 33%;
      }
    }
  }

  tbody {
    tr:first-child {
      background: $color-bg-shaded;
      font-weight: 600;
    }

    tr:last-child td {
      padding-bottom: 20px;
    }
  }
}

.form-phase {
  overflow: hidden;

  list-style: none;
  counter-reset: phase;

  @media screen and (max-width: $screen-sm-min) {
    float: right;
    margin: 22px 20px -50px 0;
    position: relative;
    z-index: 1;

    &__item {
      display: inline;
      overflow: hidden;

      counter-increment: phase;

      span {
        display: none;
      }

      &--current:before {
        content: counter(phase);
      }

      &:last-child:after {
        content: " / " counter(phase);
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    display: flex;
    margin-top: 0;

    font-size: 1.2rem;

    &__item {
      position: relative;

      flex: 1;
      padding: 6px 10px;

      text-align: center;
      background: #fff;
      white-space: nowrap;

      &--current {
        background: $color-link;
        color: #fff;
      }

      &:not(:last-child):after {
        position: absolute;
        top: 50%;
        right: -15px;
        z-index: 1;

        display: block;
        width: 28px;
        height: 28px;
        margin-top: -15px;
        border: 1px solid;
        border-color: #ddd #ddd transparent transparent;

        content: '';
        background: inherit;
        transform: scaleX(0.5) rotate(45deg);
      }

      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  }
}

.page-ilmoittaudu {
    .main-content__content {
        background: rgba(255,255,255,0.9);
    }
    .hero {
        background: transparent;
    }
}
