/* LAYOUT  */

body {
  overflow-x: hidden;

  background: $color-bg;
}

.box {
  padding: map-get($box-padding, dynamic);

  @media (max-width: #{round(map-get($box-padding, min) / (map-get($box-padding, dynamic) / 100%))}) {
    padding: map-get($box-padding, min);
  }

  @media (min-width: #{round(map-get($box-padding, max) / (map-get($box-padding, dynamic) / 100%))}) {
    padding: map-get($box-padding, max);
  }
}

.wrapper {
  max-width: $wrapper-width;
  padding-left: map-get($wrapper-padding, dynamic);
  padding-right: map-get($wrapper-padding, dynamic);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: #{round(map-get($wrapper-padding, min) / (map-get($wrapper-padding, dynamic) / 100%))}) {
    padding-left: map-get($wrapper-padding, min);
    padding-right: map-get($wrapper-padding, min);
  }

  @media (min-width: #{round(map-get($wrapper-padding, max) / (map-get($wrapper-padding, dynamic) / 100%))}) {
    padding-left: map-get($wrapper-padding, max);
    padding-right: map-get($wrapper-padding, max);
  }
  &--supernarrow {
    max-width: 600px;
  }
}

.bg-color {
  color: $color-bg;
  background-image: url('../img/bgwave.png');
  background-size: 50px 50px;
}

// Sticky footer

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1 0 auto;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}

// Sticky footer end
