/* MAIN NAVIGATION */

// Import navipalikka engine
$navipalikka-breakpoint: map-get($breakpoints, nav);
@import "../../../node_modules/navipalikka/src/navipalikka-engine";



.responsive-nav-toggle {
  position: absolute;
  top: $spacing / 2;
  right: $spacing / 2;

  width: $spacing;
  height: $spacing;
}

.responsive-nav {

  .nav-link {
    display: block;
    transition: 0.2s color ease-in-out;
    color: $color-bg;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }

    &:active {
      color: $color-link-active;
    }
  }

}

// Highlight parent too
.responsive-nav .active > .nav-link {
  @extend .nav-link:active;
}



// Mobile

@media (max-width: map-get($breakpoints, nav) - 1) {

  .responsive-nav-viewport {
    margin: 0 (-$spacing);
  }

  .responsive-nav {

    .nav-link {
      padding: $spacing / 4 $spacing;
    }

  }

}



// Desktop

@media (min-width: map-get($breakpoints, nav)) {

  .nav.dropdown {
    width: 100%;
    min-width: 10em;
    max-width: 20em;
    margin: 0;
    padding: 0.25em 0;

    background: $color-bg;
    box-shadow: 0 3px 6px rgba(#000, 0.15);
  }

  .responsive-nav {

    .nav-link {
      padding: 0 $spacing / 4;
    }

  }

}
