/* MAIN NAVIGATION */

body {
	&:before {
		@media (max-width: map-get($breakpoints, nav)) {
			display: none;
			content: "mobile";
		}
		@media (min-width: map-get($breakpoints, nav)) {
			display: none;
			content: "desktop";
		}
	}
}



.nav--main {

	.dropdown {
		padding: 0;
		margin: 0;
		box-shadow: none;
		border-radius: 0;
	}

	@media (max-width: map-get($breakpoints, nav)) {
		// First level
		& > li {
			&:first-child {
				padding-top: 0.5em;
			}

			&:last-child {
				padding-bottom: 0.5em;
			}
		}
	}

	@media (min-width: map-get($breakpoints, nav)) {
		display: flex;

		// First level
		& > li {
			& > .nav__link {
				padding: 0.5em;
			}

			&.active > .nav__link:not(:hover):not(:focus):not(:active) {
				color: $color-link;
			}
		}
	}

}
