/* TYPOGRAPHY */

html {
    font-size: 10px;
}

body {
    font-family: $font-sans;
    font-weight: 300;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-fg;
}

small,
.small {
    font-size: $font-size-small;
    line-height: $line-height-small;
}

small {
    display: block;

    &.normal {
        font-size: inherit;
        line-height: inherit;
    }

    p & {
        display: inline;
    }
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:active {
        color: $color-link-active;
    }
}


h1 {
    font-size: $line-height;
    line-height: $line-height;
    font-family: $font-sans;

    @media (min-width: $screen-lg-min) {
        font-size: $line-height * 1.5;
        line-height: $line-height * 1.5;
    }
}

h2 {
    font-size: $font-size * 1.375;

    @media (min-width: $screen-lg-min) {
        font-size: $font-size * 1.865;
    }
}

h3 {
    font-size: $font-size;

    @media (min-width: $screen-lg-min) {
        font-size: $font-size * 1.375;
    }
}

h4 {
    font-weight: 600;
}
