/* VARIABLES */



/* Media queries */

$breakpoints: (
  s: 500px,
  m: 800px,
  l: 1100px,
  half: 600px,
  nav: 600px
);



/* Typography */

$font-sans: 'Lato', sans-serif;
$font-serif: serif;
$font-heading: 'Lato', sans-serif;

$font-size: 14px;
$line-height: 1.75;

$font-size-small: 12px;
$line-height-small: 14/12;



/* Colors */

$color-fg: #FDFDFD;
$color-bg: #333333;
$color-black: #111;


$color-teal: #01f0dd;
$color-green: #45fb8d;
$color-error: #ff0000;

$color-link: darken($color-teal, 5%);
$color-link-hover: lighten($color-link, 10%);
$color-link-active: darken($color-link, 5%);


/* Layout */

$spacing: 20px;

$wrapper-width: 980px;
$wrapper-padding: (
  dynamic: 3%,
  min: $spacing / 2,
  max: $spacing
);

$box-padding: (
  dynamic: 3%,
  min: $spacing / 2,
  max: $spacing
);

$grid-gutter: $spacing;

$nav-bar-fixed: true;
$nav-bar-height: $spacing * 2.5;
